In [1]:
import pandas as pd

In [5]:
import pandas as pd

file_path = "yellow_tripdata_2021-01.parquet"  # Your file path

try:
    df = pd.read_parquet(file_path).head(100)  # Read and select in one line

    styles = [
        {'selector': 'th', 'props': [('border', '1px solid black'), ('padding', '5px')]},
        {'selector': 'td', 'props': [('border', '1px solid black'), ('padding', '5px')]},
        {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
    ]
    
    display(df.style.format(precision=2).set_table_styles(styles))

except FileNotFoundError:
    print(f"File not found at {file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

In [7]:
import pandas as pd

file_path = "yellow_tripdata_2021-01.parquet"  # Your file path
table_name = "yellow_tripdata"  # Or any name you want

try:
    df = pd.read_parquet(file_path).head(100)
    schema = pd.io.sql.get_schema(df, name=table_name)
    print(schema)
except FileNotFoundError:
    print(f"File not found at {file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

CREATE TABLE "yellow_tripdata" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [13]:
from sqlalchemy import create_engine

In [19]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, DateTime, Boolean

# ... (your code to read the Parquet file into the DataFrame 'df')

try:
    conn_params = {
        "host": "localhost",
        "port": 5432,
        "database": "ny_taxi",
        "user": "root",
        "password": "bmaleh"  # VERIFY THIS PASSWORD!
    }

    engine_str = f"postgresql://{conn_params['user']}:{conn_params['password']}@{conn_params['host']}:{conn_params['port']}/{conn_params['database']}"
    engine = create_engine(engine_str)

    metadata = MetaData()
    table_name = "yellow_taxi_data"

    table = Table(table_name, metadata,
                  Column('VendorID', Integer),
                  Column('tpep_pickup_datetime', DateTime),
                  Column('tpep_dropoff_datetime', DateTime),
                  Column('passenger_count', Integer),
                  Column('trip_distance', Float),
                  Column('RatecodeID', Integer),
                  Column('store_and_fwd_flag', String),
                  Column('PULocationID', Integer),
                  Column('DOLocationID', Integer),
                  Column('payment_type', Integer),
                  Column('fare_amount', Float),
                  Column('extra', Float),
                  Column('mta_tax', Float),
                  Column('tip_amount', Float),
                  Column('tolls_amount', Float),
                  Column('improvement_surcharge', Float),
                  Column('total_amount', Float),
                  Column('congestion_surcharge', Float),
                  Column('airport_fee', Float)
                  )

    metadata.create_all(engine)

    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False, method='multi')

    print(f"Data successfully written to table '{table_name}'")

except FileNotFoundError:
    print(f"File not found at {file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

Data successfully written to table 'yellow_taxi_data'

In [23]:
import pandas as pd
from sqlalchemy import create_engine

# ... (your code to read Parquet file into DataFrame 'df')

try:
    conn_params = {"host": "localhost", "port": 5432, "database": "ny_taxi", "user": "root", "password": "bmaleh"}  
    engine_str = f"postgresql://{conn_params['user']}:{conn_params['password']}@{conn_params['host']}:{conn_params['port']}/{conn_params['database']}"
    engine = create_engine(engine_str)

    with engine.connect() as conn:
        df.to_sql("yellow_taxi_data", conn, if_exists='replace', index=False, method='multi')

    print("Data written successfully.")

except Exception as e:
    print(f"Error: {e}")

Data written successfully.

In [19]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine

# Database connection details 
conn_params = {"host": "localhost", "port": 5432, "database": "ny_taxi", "user": "root", "password": "bmaleh"}  
engine_str = f"postgresql://{conn_params['user']}:{conn_params['password']}@{conn_params['host']}:{conn_params['port']}/{conn_params['database']}"
engine = create_engine(engine_str)

chunksize = 100000

parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')

for batch in parquet_file.iter_batches(batch_size=chunksize):
    chunk = batch.to_pandas()
    with engine.connect() as conn:
        chunk.to_sql("yellow_taxi_data", conn, if_exists='append', index=False, method='multi')

print("Data insertion complete.")

Data insertion complete.

In [21]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine

# Database connection details (VERIFY PASSWORD!)
conn_params = {"host": "localhost", "port": 5432, "database": "ny_taxi", "user": "root", "password": "bmaleh"}  
engine_str = f"postgresql://{conn_params['user']}:{conn_params['password']}@{conn_params['host']}:{conn_params['port']}/{conn_params['database']}"
engine = create_engine(engine_str)

chunksize = 100000

parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')

try:
    for batch in parquet_file.iter_batches(batch_size=chunksize):
        chunk = batch.to_pandas()

        # Convert date/time columns
        if 'tpep_pickup_datetime' in chunk.columns:
            chunk['tpep_pickup_datetime'] = pd.to_datetime(chunk['tpep_pickup_datetime'])
        if 'tpep_dropoff_datetime' in chunk.columns:
            chunk['tpep_dropoff_datetime'] = pd.to_datetime(chunk['tpep_dropoff_datetime'])

        with engine.connect() as conn:
            chunk.to_sql("yellow_taxi_data", conn, if_exists='append', index=False, method='multi')

    print("Data insertion complete.")

except Exception as e:
    print(f"An error occurred: {e}")

# Verification (optional)
try:
    with engine.connect() as conn:
        print(pd.read_sql("SELECT * FROM yellow_taxi_data LIMIT 0", conn))
except Exception as e:
    print(f"Error during verification: {e}")

Data insertion complete.
Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [25]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine
import time

# ... (Database connection details as before) ...

chunksize = 100000

parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')

total_rows_inserted = 0
start_time = time.time()

try:
    # 1. Create the table (header only) - Most Robust Approach
    table_created = False
    for batch in parquet_file.iter_batches(batch_size=chunksize):
        df_head = batch.to_pandas()  # Convert to pandas DataFrame
        if not df_head.empty:  # Check if DataFrame is empty
            try:
                with engine.connect() as conn:
                    df_head.head(0).to_sql("yellow_taxi_data", conn, if_exists='replace', index=False) # Create table
                table_created = True
                break  # Exit loop after creating the table
            except Exception as e:
                print(f"Error creating table (attempt): {e}")  # Print any errors during table creation
                continue # Try the next batch
    if not table_created:
        raise ValueError("Could not create table: No valid data found in Parquet file after checking multiple batches.")

    chunk_number = 1

    for batch in parquet_file.iter_batches(batch_size=chunksize):
        chunk_start_time = time.time()
        chunk = batch.to_pandas()  # Convert to pandas *before* processing
        chunk_len = len(chunk)

        if chunk.empty:  # Check if chunk is empty (can happen at the end)
            continue  # Skip to the next chunk

        print(f"Processing chunk {chunk_number}: Length = {chunk_len}")

        # 2. Convert date/time columns
        if 'tpep_pickup_datetime' in chunk.columns:
            chunk['tpep_pickup_datetime'] = pd.to_datetime(chunk['tpep_pickup_datetime'])
        if 'tpep_dropoff_datetime' in chunk.columns:
            chunk['tpep_dropoff_datetime'] = pd.to_datetime(chunk['tpep_dropoff_datetime'])

        # 3. Insert data
        with engine.connect() as conn:
            insert_start_time = time.time()
            chunk.to_sql("yellow_taxi_data", conn, if_exists='append', index=False, method='multi')
            insert_end_time = time.time()
            print(f"Chunk {chunk_number} Insertion time: {insert_end_time - insert_start_time:.2f} seconds")

        chunk_end_time = time.time()
        print(f"Total time for chunk {chunk_number}: {chunk_end_time - chunk_start_time:.2f} seconds")

        total_rows_inserted += chunk_len
        chunk_number += 1

    # ... (Rest of the timing and verification code as before)

except Exception as e:
    print(f"An error occurred: {e}")

Processing chunk 1: Length = 100000
Chunk 1 Insertion time: 47.41 seconds
Total time for chunk 1: 47.44 seconds
Processing chunk 2: Length = 100000
Chunk 2 Insertion time: 44.93 seconds
Total time for chunk 2: 44.96 seconds
Processing chunk 3: Length = 100000
Chunk 3 Insertion time: 44.39 seconds
Total time for chunk 3: 44.42 seconds
Processing chunk 4: Length = 100000
Chunk 4 Insertion time: 46.11 seconds
Total time for chunk 4: 46.13 seconds
Processing chunk 5: Length = 100000
Chunk 5 Insertion time: 45.74 seconds
Total time for chunk 5: 45.76 seconds
Processing chunk 6: Length = 100000
Chunk 6 Insertion time: 44.45 seconds
Total time for chunk 6: 44.48 seconds
Processing chunk 7: Length = 100000
Chunk 7 Insertion time: 48.02 seconds
Total time for chunk 7: 48.06 seconds
Processing chunk 8: Length = 100000
Chunk 8 Insertion time: 44.73 seconds
Total time for chunk 8: 44.74 seconds
Processing chunk 9: Length = 100000
Chunk 9 Insertion time: 64.32 seconds
Total time for chunk 9: 64.34 seconds
Processing chunk 10: Length = 100000
Chunk 10 Insertion time: 77.65 seconds
Total time for chunk 10: 77.69 seconds
Processing chunk 11: Length = 100000
Chunk 11 Insertion time: 55.12 seconds
Total time for chunk 11: 55.15 seconds
Processing chunk 12: Length = 100000
Chunk 12 Insertion time: 49.89 seconds
Total time for chunk 12: 49.92 seconds
Processing chunk 13: Length = 100000
Chunk 13 Insertion time: 46.19 seconds
Total time for chunk 13: 46.21 seconds
Processing chunk 14: Length = 69769
Chunk 14 Insertion time: 34.83 seconds
Total time for chunk 14: 34.86 seconds